# Environment files
/frontend/.env
/backend/.env

# Node modules
/frontend/node_modules
./backend/node_modules

# Build output
/frontend/build
/backend/dist

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
/frontend/.gitignore
/backend/.gitignore
